[package]
name = "asfd"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.89"
clap = { version = "4.5.17", features = ["derive"] }
console = "0.15.8"
digest = "0.10.7"
envsubst = "0.2.1"
futures = "0.3.30"
hex = "0.4.3"
indicatif = "0.17.8"
log = { version = "0.4.22", features = ["std"] }
md-5 = "0.10.6"
reqwest = { version = "0.12.8", features = [
  "stream",
  "rustls-tls",
], default-features = false }
once_cell = "1.19.0"
sha1 = "0.10.6"
sha2 = "0.10.8"
tempfile = "3.12.0"
thiserror = "1.0.63"
tokio = { version = "1.40.0", features = ["macros", "rt-multi-thread"] }
url = "2.5.2"

[dev-dependencies]
assert_cmd = "2.0.16"
predicates = "3.1.2"
testdir = "0.9.1"
